body{
	background-color: #F4A460;
}
.mod1{
position: relative;
width: 800px;
height: 500px;
background-color: #D2691E;
float: left;
margin-top: 40px;
margin-left: 40px;
}
.mod2{
position: absolute;
width: 200px;
height: 150px;
background-color: #613613;
left: 30px;
top: 10px;
}
.mod3{
position: absolute;
width: 200px;
height: 150px;
background-color: #613613;
top: 10px;
left: 300px;
}
.mod4
{
position: absolute;
width: 200px;
height: 150px;
background-color: #613613;
top: 10px;
right: 30px;
}
.mod5
{
position: absolute;
width: 200px;
height: 150px;
background-color: #613613;
top: 170px;
left: 30px;
}
.mod6
{
position: absolute;
width: 200px;
height: 150px;
background-color: #613613;
top: 170px;
right: 300px;
}
.mod7
{
position: absolute;
width: 200px;
height: 150px;
background-color: #613613;
top: 170px;
right: 30px;
}
.mod8
{
position: absolute;
width: 200px;
height: 150px;
background-color: #613613;
top: 330px;
left: 30px;
}
.mod9
{
position: absolute;
width: 200px;
height: 150px;
background-color: #613613;
top: 330px;
right: 300px;
}
.mod10
{
position: absolute;
width: 200px;
height: 150px;
background-color: #613613;
top: 330px;
right: 30px;
}
.text{
	padding:0;
	margin-top: 0; 
	margin-left: 40px;
	font-size: 170px;
	color: #997950;
}